 <head>
 <title>Детали заказа компрессионного трикотажа</title>
 </head>
{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div>
      {% for item in order_item %}
      <ul>
      <li>{{item.product }}</li> 
      <li>{{item.quantity }}</li>
      </ul>
      {% endfor %}
      <p class="text">Сумма заказа: {{order.get_total_cost|floatformat:"2"}}</p> 
      <p class="card-text">{% if order.paid == False %} <a href= {{pay_link}} class="btn btn-primary">Оплата заказа</a>{% else %} <span style="color:green"> заказ оплачен {% endif %} </p>         
    </div>          
{% endblock %} 