{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h1>Your shopping cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Color</th>
            <th>Model_type</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            {% for image in images_m %}
                            {% if  image.product_id == product.id and  image.main %}
                            <img src="{{ image.image.url }}" height=100> 
                            {% endif %} 
                            {% endfor %} 
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.color }}</td>
                    <td>{{ item.m_type }}</td>                    
                    <td class="num">₽{{ item.price }}</td>
                    <td class="num">₽{{ item.total_price }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}" class="btn btn-primary">Очистить</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if cart.coupon %}
    <tr class="subtotal">
        <td>Subtotal</td>
        <td colspan="4"></td>
        <td class="num">₽{{ cart.get_total_price }}</td>
    </tr>
    <tr>
        <td>
            "{{ cart.coupon.code }}" coupon
            ({{ cart.coupon.discount }}% off)
        </td>
        <td colspan="4"></td>
        <td class="num neg">
            - ₽{{ cart.get_discount|floatformat:"2" }}
        </td>
    </tr>
{% endif %}
<tr class="total">
    <td>Total</td>
    <td colspan="4"></td>
    <td class="num">
        ₽{{ cart.get_total_price_after_discount|floatformat:"2" }}
    </td>
</tr>
        </tbody>
    </table>
    <form action="{% url "coupons:apply" %}" method="post">
        {{ coupon_apply_form }}
        <input type="submit" class="btn btn-primary" value="Готово">
        {% csrf_token %}
    </form>
    <p class="text-right">
        <a href="{% url "catalog:catalog" %}" class="btn btn-primary">Продолжить покупки</a>
        <a href="{% url "orders:order_create" %}" class="btn btn-primary">
            Перейти к заказу
        </a>                             
    </p>
{% endblock %}