{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Заказ компрессионного трикотажа{% endblock %}

{% block content %}
    <h1>Проверьте</h1>
    <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>₽{{ item.total_price }}</span>
                </li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                    <span>- ₽{{ cart.get_discount|floatformat:"2" }}</span>
                </li>
            {% endif %}
        </ul>
         {% if cart.delivery %}
        <p>Итого: ₽{{ cart.get_total_price_after_discount|floatformat:"2" }} в т.ч. доставка {{cart.delivery|floatformat:"2"}}</p>   
        {% else %}
        <p>Итого: ₽{{ cart.get_total_price_after_discount|floatformat:"2" }}</p> 
         {% endif %}    
    </div>
    <form action="." method="post" class="d-flex w-100 align-items-center">
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary ms-2 flex-shrink-0" style="height: calc(3.5em + 0.25rem);" value="Подтвердить заказ">
        {% csrf_token %}
    </form>
{% endblock %}