{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <h1 class="card-header"> Проект Market</h1>
  <img src="static/logo.jpeg" width="400">
  <p>
    Market Corporation: <b>Trading</b> <b>C</b>ompany <b>M</b>ade <b>S</b>ale
  </p>
  <h2>
    <a href="{{catalog }}" class="btn btn-primary">Каталог всех товаров</a> 
  </h2>
  <!-- Добавим строку "row" -->
  <div class="row">
    <!-- Добавим колонку "col-3" -->
    <div class="container" "card-body">
      <embed src="static/oferta.pdf" type="application/pdf" width="600" height="400">
      <b><i>Всего товаров в нашем магазине: {{prod_count.id__count}}</b></i>
    </div>
    <div class="col-9">
      <!-- Добавим колонку "col-9" и выведем значение переменной total_count.
           С помощью стиля Bootstrap отобразим его очень крупным шрифтом  -->
      <div class="display-6">{{prod_count.id__count}}</div>
      <ul style="display: inline-block; font-size: 18px; font-family:sans-serif;">        
        <li>Контакты:</li>
        <li>ООО "Консалтинговый Центр "Алгоритм"</li>
        <li>Адрес:141402, Московская область, город Химки, Союзная ул., д. 3, офис 15 </li>
        <li>Телефон/Telegram/WhatsApp:8-906-717-48-77</li>
        <li>e-mail:volkov_aleksandr_sergeevich@mail.ru</li>
      </ul>
    </div>
  </div>
{% endblock %} 