{% extends "base.html" %}
{% load catalog_tags %}
{% load django_bootstrap5 %}
{% load static %}
 {% block content %}
   <h3>Это страница со списком товаров!Всего:{{prod_count.id__count}}</h3>
   <form method="get">
    {{ filter.form.as_table }}
    <button type="submit" class="btn btn-primary">Фильтр</button>
</form>
<ul>
    <table>        
    {% get_product filter="ОРТО" as products%}
    {% for product in filter.qs %}
    {% if forloop.counter0|divisibleby:"2" %}
                <tr width=250>
            {% endif %}
     <td>
        <div itemscope itemtype="https://schema.org/Product">        
    <a href="{% url 'catalog:detail' product.slug %}"> <class="card-link"> <span itemprop="name">{{ product.name }}</span> </a>
         <li>Производитель:<span itemprop="brand">{{ product.brand }}</span></li>
         <span itemprop="description">Категория: компрессионный трикотаж</span>
         {% for image in images_m %}
         {% if  image.product_id == product.id and  image.main %}
        <li><img src="{{image.image.url }}" height=100 itemprop="image"> </li> 
         {% endif %} 
         {% endfor %}
    <div itemprop="offers" itemscope itemtype="https://schema.org/Offer"> 
    <li>Цена: {{ product.price }} ₽<meta itemprop="price" content={{ product.price }} ></li> 
    <meta itemprop="priceCurrency" content="RUB"> 
    <link itemprop="availability" href="http://schema.org/InStock">
  </div>     
    {% empty %}
        <li>Товары не найдены.</li>
        </td> 
        {% if forloop.counter|divisibleby:"2" %}
           </tr>
        {% endif %}           
   {% endfor %} 
   </ul>
   </div>
   </table>     
{% endblock %}