{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
 {% block content %}
   <h1>Это страница со списком товаров!Всего:{{prod_count.id__count}}</h1>
   <form method="get">
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-primary">Фильтр</button>
</form>
<ul>
    {% for product in filter.qs %}
    <a href="{% url 'catalog:detail' product.slug %}"> <class="card-link">{{ product.name }}</a>
         <li>Производитель:{{ product.brand }} </li>
         {% for image in images_m %}
         {% if  image.product_id == product.id and  image.main %}
        <li><img src="{{image.image.url }}" height=100></li> 
         {% endif %} 
         {% endfor %} 
    <li>Цена:{{ product.price }} </li>     
    <li>Артикул:{{ "-" }} </li>
    <li>Код товара:{{ "-"}} </li>
</ul>    
    {% empty %}
        <li>Товары не найдены.</li>       
   {% endfor %}  
 {% endblock %}