{% extends "base.html" %}
{% load catalog_tags %}
{% load django_bootstrap5 %}
{% load static %}
 <head>
 <title>Поиск компрессионного трикотажа</title>
 </head>
 {% block content %}
<form method="get" class="d-flex w-100 align-items-center" action="">
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary ms-2" style="height: calc(2.5em + 0.75rem);">Искать</button>
</form>
{% if results %}
<h5>Вот что нашлось:</h5>
<ul class="list-group">
    {% for item in results %}
    {% for image in item.main_images %}
        {% comment %} <li class="list-group-item"><img src="{{image.image.url}}" height=100 itemprop="image"><a href="{% url 'catalog:detail' item.slug %}" class="card-link">{{ item.name }} - {{ item.brand }} - {{item.price}}₽</a></li> {% endcomment %}
        <li class="list-group-item d-flex align-items-start">
    <img src="{{image.image.url}}" height=100 itemprop="image" class="me-3">
    <a href="{% url 'catalog:detail' item.slug %}" class="card-link align-self-start">
        {{ item.name }} - {{ item.brand }} - {{item.price}}₽
    </a>
</li>
        {% endfor %}
    {% endfor %}
       {% for image in results_images.main_images %}
       {{results_images.main_images}}
        <li><img src="{{image.image.url}}" height=100 itemprop="image"> </li> 
         {% endfor %}
    </ul>
        {% else %}
        <li>Нет результатов</li>    
{% endif %}
{% endblock %}